<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<ros2_control name="ak80_8" type="system">
  <hardware>
    <plugin>cubemars_hardware/CubeMarsSystemHardware</plugin>
    <param name="can_interface">can0</param>
  </hardware>

  <joint name="ak80_8_joint">
    <command_interface name="position">
      <param name="min">-3.14159265359</param>
      <param name="max">3.14159265359</param>
    </command_interface>

    <command_interface name="velocity">
      <param name="min">-10</param>
      <param name="max">10</param>
    </command_interface>

    <command_interface name="effort">
      <param name="min">-10</param>
      <param name="max">10</param>
    </command_interface>    

    <state_interface name="position"/>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <state_interface name="temperature"/>

    <param name="can_id">104</param>
    <param name="pole_pairs">7</param>
    <param name="gear_ratio">8</param>
    <param name="kt">0.123</param>
  </joint>
</ros2_control>

</robot>