<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<ros2_control name="ak80_8" type="system">
  <hardware>
    <plugin>cubemars_hardware/CubeMarsSystemHardware</plugin>
    <param name="can_interface">can0</param>
  </hardware>

  <joint name="ak80_8_joint">
    <command_interface name="position">
      <param name="min">-3.14159265359</param>
      <param name="max">3.14159265359</param>
    </command_interface>

    <command_interface name="velocity">
      <param name="min">-10</param>
      <param name="max">10</param>
    </command_interface>

    <command_interface name="effort">
      <param name="min">-10</param>
      <param name="max">10</param>
    </command_interface>    

    <state_interface name="position"/>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <state_interface name="temperature"/>

    <param name="can_id">104</param>
    <param name="pole_pairs">7</param>
    <param name="gear_ratio">6</param>
    <param name="kt">0.025</param>
    <param name="trq_limit">1.5</param> <!--Option-->
    <param name="enc_off">0.0</param>  <!--Option-->
    <param name="vel_limit">30.0</param> <!--Option-->
    <param name="acc_limit">100.0</param> <!--Option-->
    <param name="read_only">0</param>  <!--Option-->
  </joint>
</ros2_control>

</robot>