<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="levion_system" params="name prefix left_arm:=true right_arm:=false">

<!-- include macros -->
<xacro:include filename="$(find levion_arm_ros2_control)/ros2_control/ak80_8.macros.xacro"/>

<xacro:include filename="$(find levion_arm_ros2_control)/config/ak80_8.property.xacro"/>

<ros2_control name="${name}" type="system">
  <hardware>
    <plugin>cubemars_hardware/CubeMarsSystemHardware</plugin>
    <param name="can_interface">can0</param>
  </hardware>

  <!-- Left arm -->
  <xacro:if value="${left_arm}">

    <xacro:ak80_8_ros2_control
      joint_name="${prefix}left_shoulder_joint"
      can_id="104"
      mirrored="true"
      pos_min="${shoulder_joint_pos_limit_min}"
      pos_max="${shoulder_joint_pos_limit_max}"
      vel_limit="${default_joint_velocity_limit}"
      effort_limit="${default_joint_effort_limit}"
      enc_off="${shoulder_joint_encoder_offset}"/>

    <xacro:ak80_8_ros2_control
      joint_name="${prefix}left_elbow_joint"
      can_id="105"
      mirrored="true"
      pos_min="${elbow_joint_pos_limit_min}"
      pos_max="${elbow_joint_pos_limit_max}"
      vel_limit="${default_joint_velocity_limit}"
      effort_limit="${default_joint_effort_limit}"
      enc_off="${elbow_joint_encoder_offset}"/>
  </xacro:if>

  <!-- Right arm -->
  <xacro:if value="${right_arm}">

    <xacro:ak80_8_ros2_control
      joint_name="${prefix}right_shoulder_joint"
      can_id="204"
      mirrored="false"
      pos_min="${shoulder_joint_pos_limit_min}"
      pos_max="${shoulder_joint_pos_limit_max}"
      vel_limit="${default_joint_velocity_limit}"
      effort_limit="${default_joint_effort_limit}"
      enc_off="${shoulder_joint_encoder_offset}"/>

    <xacro:ak80_8_ros2_control
      joint_name="${prefix}right_elbow_joint"
      can_id="205"
      mirrored="false"
      pos_min="${elbow_joint_pos_limit_min}"
      pos_max="${elbow_joint_pos_limit_max}"
      vel_limit="${default_joint_velocity_limit}"
      effort_limit="${default_joint_effort_limit}"
      enc_off="${elbow_joint_encoder_offset}"/>
  </xacro:if>

</ros2_control>
</xacro:macro>
</robot>