<?xml version="1.0"?>
<robot name="levion_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="force_torque_sensor" default="true" />


  <!-- Include materials -->
  <xacro:include filename="$(find levion_arm_ros2_control)/config/material.macros.xacro"/>

  <!-- Include main macros -->
  <xacro:include filename="$(find levion_arm_ros2_control)/urdf/levion_arm.macros.xacro"/>

  <!-- Include ros2 control macros -->
  <xacro:include filename="$(find levion_arm_ros2_control)/ros2_control/levion_arm.ros2_control.xacro"/> 

  <xacro:if value="$(arg force_torque_sensor)">
    <!-- Include force torque sensor macros -->
    <!-- <xacro:include filename="$(find levion_arm_ros2_control)/ros2_control/leptrino_force_torque.ros2_control.xacro"/> -->
  </xacro:if>


  <!-- Main URDF -->
  <link name="world"/>

  <xacro:levion_arm parent="world" prefix="$(arg prefix)" left_right="left">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:levion_arm>

  <xacro:levion_arm parent="world" prefix="$(arg prefix)" left_right="right">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:levion_arm>

  <!-- ros2 control -->
  <xacro:levion_system name="levion_arm" prefix="$(arg prefix)" left_arm="true" right_arm="true"/>

</robot>