<?xml version="1.0"?>
<robot name="levion_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="prefix" default="" />

  <!-- Include ros2 control tags -->
  <xacro:include filename="$(find levion_arm_ros2_control)/ros2_control/levion_arm.ros2_control.xacro"/>

  <!-- Include macros -->
  <xacro:include filename="$(find levion_arm_ros2_control)/config/ak80_8.property.xacro"/>
  <xacro:include filename="$(find levion_arm_ros2_control)/urdf/levion_arm.macros.xacro"/>
  
  <xacro:include filename="$(find levion_arm_ros2_control)/ros2_control/leptrino_force_torque.ros2_control.xacro"/>
  <!-- include materials -->
  <xacro:include filename="$(find levion_arm_ros2_control)/config/material.macros.xacro"/>

  <!-- ros2 control -->
  <xacro:levion_system name="levion_arm" prefix="$(arg prefix)" left_arm="true" right_arm="true"/>

  <!-- Main URDF -->
  <link name="world"/>

  <xacro:levion_arm 
    parent="world"
    prefix="$(arg prefix)"
    left_right="left"
    shoulder_lower="-${default_joint_position_limit}"
    shoulder_upper="${default_joint_position_limit}"
    shoulder_vel="${default_joint_velocity_limit}"
    shoulder_effort="${default_joint_effort_limit}"
    elbow_lower="-2.615"
    elbow_upper="-0.349"
    elbow_vel="${default_joint_velocity_limit}"
    elbow_effort="${default_joint_effort_limit}">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:levion_arm>

</robot>